{% extends 'base.html' %}
{% load static humanize music_elements pagination_links %}

{% block title %}
Historique de {{ profile.user.username }} - MuzHistory
{% endblock %}

{% block static %}
  <link rel="stylesheet" href="{% static 'history/css/common.css'%}" />
  <link rel="stylesheet" 
      href="{% static 'history/css/pagination_links.css' %}" />
    <link rel="stylesheet" href="{% static 'history/css/player.css'%}" />
  <link rel="stylesheet" href="{% static 'history/css/overview.css'%}" />
{% endblock %}

{% block page %}
<header>
  <div class="inner_header">
    <div class="heading_and_links">
      <h1>Historique de {{ profile.user.username }}</h1>
      <div class="links">
        <a href="{% url 'history:statistics' %}" title="Statistiques">
          {% include "history/svg/icon_stats.svg" %}
        </a>
        <a href="{% url 'accounts:display-profile' %}" title="Profil">
          {% include "history/svg/icon_profile.svg" %}
        </a>
      </div>
    </div>
    <div class="history_infos">
      {% if entries %}
        <p class="history_info" title="Nombre total d'écoutes">
          {% include "history/svg/icon_number.svg" %}
          <span>
            {{ paginator.count }} écoutes
          </span>
        </p>
        <p class="history_info" title="Durée d'écoute totale">
          {% include "history/svg/icon_time.svg" %}
          <span>
            {{ total_listening_duration_hours }} heures
          </span>
        </p>
        <p class="history_info" title="Dernière mise à jour">
          {% include "history/svg/icon_clock.svg" %}
          <span>
            {{ last_history_request|naturalday:"\l\e j F Y" }}
            à {{ last_history_request|time }}
          </span>
        </p>
      {% else %}
        <p class="empty_history_message">Votre historique d'écoute est vide.</p>
      {% endif %}
    </div>
    {% if current_crush %}
      <aside class="current_crush">
          {% if current_crush.deezer_track %}
            {% track current_crush.deezer_track "Votre titre du moment" "" "" True %}
          {% endif %}
      </aside>
    {% endif %}
  </div>
</header>
<section class="entries_wrapper">
  {% if entries %}
    {% page_links paginator page_number 'history:overview' %}
    <ul class='entries'>
      {% for entry in page %}
        {% if entry.entry_type == 'ellipsis_deezer' %}
          <li>Oups... Il y a des écoutes perdues.</li>
        {% elif entry.entry_type == 'listening' and  entry.deezer_account %}
          {% with date=entry.listening_datetime|naturalday:"\L\e j F Y" time=entry.listening_datetime|time %} 
            {% track entry.track date|add:" à "|add:time "history/svg/icon_clock.svg" "Date d'écoute" False %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </ul>

    {% page_links paginator page_number 'history:overview' %}
  {% endif %}
</section>

{% include 'history/player.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'history/js/player.js' %}"></script>
{% endblock %}