{% extends 'base.html' %}
{% load static humanize music_elements %}

{% block title %}
Historique de {{ profile.user.username }} - MuzHistory
{% endblock %}

{% block static %}
  <link rel="stylesheet" href="{% static 'history/css/common.css'%}" />
  <link rel="stylesheet" href="{% static 'history/css/overview.css'%}" />
{% endblock %}

{% block page %}
<header>
  <h1>Historique d'écoute de {{ profile.user.username }}</h1>
  <a href="{% url 'history:statistics' %}">Statistiques</a>
  <a href="{% url 'accounts:display-profile' %}">Profil</a>
  <p>Dernière mise à jour:
    <!-- text "le" is inside the filter parameter to avoid displaying
        it if the filters displays "yesterday" or such values. -->
    {{ last_history_request|naturalday:"\l\e j F Y" }}
    à {{ last_history_request|time }}</p>
  <br />
  {% if entries %}
  <p><strong>{{ paginator.count }} écoutes</strong> depuis
    {{ date_first_entry|naturalday:"\l\e j F Y" }}, soit plus de
    <strong>
      {{ total_listening_duration_hours }} 
      heure{{ total_listening_duration_hours|pluralize }}
    </strong>
  </p>
  <br>


  <div class="current_crush">
      {% if current_crush.deezer_track %}
        {% track current_crush.deezer_track "Current crush" True %}
      {% endif %}
  </div>


  <br />
  <p>Page {{ page.number }} de {{ page.paginator.num_pages }}: du
    {{ first_entry.listening_datetime|date:"j F Y" }} au
    {{ last_entry.listening_datetime|date:"j F Y" }}
  </p>
  <p>
    <a href="{% url 'history:overview' %}">Première page</a>
    {% if page.has_previous %}
    - <a href="{% url 'history:overview' %}?page=
                {{ page.previous_page_number }}">
      Page précédente</a>
    {% endif %}
    {% if page.has_next %}
    - <a href="{% url 'history:overview' %}?page={{ page.next_page_number }}">
      Page suivante</a>
    {% endif %}
    {% endif %}
    <br />
  </p>
</header>

<section>
  <ul class='history_overview'>
    {% for entry in page %}
      {% if entry.entry_type == 'ellipsis_deezer' %}
        <li>Oups... Il y a des écoutes perdues.</li>
      {% elif entry.entry_type == 'listening' and  entry.deezer_account %}
        {% with date=entry.listening_datetime|naturalday:"\l\e j F Y" time=entry.listening_datetime|time %} 
          {% track entry.track "Écouté "|add:date|add:" à "|add:time %}
        {% endwith %}
      {% endif %}
    {% empty %}
      <p class="empty_history_message">
          Votre historique d'écoute est vide.
      </p>
    {% endfor %}
  </ul>
</section>
{% endblock %}

{% block scripts %}
<script>
  function playaudio(id) {
      var allaudios = document.querySelectorAll('audio');
      var audio = document.getElementById(id);
      if (audio.paused) {
          for (var i = 0; i < allaudios.length; i++) {
              allaudios[i].pause();
          }
          audio.play();
      } else {
          audio.pause();
      }
  }
</script>
{% endblock %}