<!-- -*- mode: html; indent-tabs-mode: nil; tab-width: 2 -*- -->

{% extends 'base.html' %}
{% load static humanize music_elements %}

{% block title %}Statistiques{% endblock %}

{% block static %}
  <link rel="stylesheet" href="{% static 'history/css/common.css'%}" />
  <link rel="stylesheet" href="{% static 'history/css/statistics.css'%}" />
{% endblock %}

{% block page %}
<h1>Statistiques</h1>
{% if request.user.is_authenticated %}
  <a href="/history">Historique</a>
{% else %}
<a href="/history?showcase=1">Historique</a>
{% endif %}
<a href="{% url 'accounts:display-profile' %}">Profil</a>
{% if empty_history %}
<p>Votre historique d'écoute est vide.</p>
{% else %}

  {% for section in stats_sections %}
  <h2>{{ section.title }}</h2>
  <div class="stat_section">
    <div class="stat_subsection subsection_artists">
      <h3>Artistes les plus écoutés</h3>
      <ol>
        {% for artist in section.objects.artists %}
        <li>
          <div class="rank">
            <p>#{{ artist.rank }}</p>
          </div>
          <div class="artist_image">
            {% if artist.image_url_deezer_small %}
              <img src="{{ artist.image_url_deezer_medium }}"
                alt="{{ artist.name }}" />
            {% endif %}
          </div>
          <div class="artist_metadata">
            <p class="artist_name" title="{{ artist.name }}">
              {{ artist.name }}
            </p>
            <p class="listenings_count">
              {{ artist.entry_count }} écoute{{ artist.entry_count|pluralize }}
            </p>
          </div>
        </li>
        {% empty %}
        <p>Vous n'avez rien écouté durant cette période.</p>
        {% endfor %}
      </ol>
    </div>

    <div class="stat_subsection subsection_tracks">
      <h3>Morceaux les plus écoutés</h3>
      <ol>
        {% for recording in section.objects.tracks %}
        <li>
          <div class="rank">
            <p>#{{ recording.rank }}</p>
          </div>
          {% stats_recording recording %}
        </li>
        {% empty %}
        <p>Vous n'avez rien écouté.</p>
        {% endfor %}
      </ol>
    </div>
  </div>

  {% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  function playaudio(id) {
      var allaudios = document.querySelectorAll('audio');
      var audio = document.getElementById(id);
      if (audio.paused) {
          for (var i = 0; i < allaudios.length; i++) {
              allaudios[i].pause();
          }
          audio.play();
      } else {
          audio.pause();
      }
  }
</script>
{% endblock %}