/* General element properties */

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

img {
    max-width: initial;
}

p > ion-icon {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

/* General layout */

body {
    margin: 0;
}


/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    z-index: 1000;
    padding: 20px;
    border-right: 1px solid;
}

.color_tile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    transition: all 0.4s;
}

.config {
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.config ion-label {
    padding: 0;
}

.config ion-toggle {
    position: relative;
    top: 14px;
}


/* Section */

.main_content {
    padding: 10px 30px 30px 300px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
}

