.ion-page {
    background: #f6fafa;
}

img {
    max-width: initial;
}

ion-tab-bar, ion-tab-button {
    background: #c2dfe1;
}

ion-tab-bar {
    border: 0;
    height: 40px;
}

p > ion-icon {
    position: relative;
    top: 3px;
    margin-right: 3px;
}