.ion-page {
    background: #e8eef3;
}

img {
    max-width: initial;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


ion-tab-bar {
    background: #b3c6d8;
}

ion-tab-button {
    background: rgba(255, 255, 255, 0);
}

ion-tab-bar {
    border: 0;
    height: 40px;
}

ion-router-outlet {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ion-router-outlet::-webkit-scrollbar {
    display: none;
}

p > ion-icon {
    position: relative;
    top: 3px;
    margin-right: 3px;
}