.player {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 5px 5px 5px 15px;
    position: fixed;
    bottom: 0px;
    height: 70px;
    left: 0;
    right: 0;
    transition: background 0.4s;
    z-index: 2000;
}


.player .track {
    margin: 0;
    margin-top: 5px;
    width: 25%;
}

.player img.play_extract {
    cursor: default;
    width: 60px;
}

.player .track_metadata {
    position: relative;
    max-width: 80%;
    top: 0;
    margin: 5px 0;
}

.player .track_title, .player .artists, .player .album_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player .track_title {
    font-size: 0.9rem;
}

.player .artist_name {
    font-size: 0.8rem;
}

.player div.player_time_infos {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.player_time_infos div {
    display: flex;
    width: 100%; 
    justify-content: space-between;
}

.player .progress_container {
    height: 5px;
    width: 100%; /* Do not add margins or paddings on the x axis,
                    use the parent element. */
    margin: auto 0 12px 0;
    border: none;
}

.player_progress p {
    color: #ccc;
    font-size: 0.65em;
    margin: auto 5px;
    position: relative;
    top: -6px
}

.playpause-icon {
    font-size: 18px;
    position: relative;
    top: 6px;
    left: -4px;
    margin: 0 auto 20px auto;
    padding: 3px;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 20px;
}

.playpause-icon.play {
    padding-left: 4px;
}

.player_options {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.player_options ion-icon {
    font-size: 22px;
    margin-right: 15px;
}

.player_options .volume_slider {
    width: 40%;
    height: 12px;
}

.player_options ion-range {
    --height: 12px;
    padding: 0;
}

.player_options ion-range::part(bar) {
    background: rgba(136, 136, 136, 0.5);
}

.player_options ion-range::part(bar-active) {
    background: #eee;
}
.player_options ion-range::part(knob) {
    background: #eee;
}