.track {
    display: flex;
    margin: 8px auto;
}

.album_cover img {
    width: 70px;
    margin: auto 10px auto auto;
    border-radius: 3px;
}

.album_cover img.play_extract {
    cursor: pointer;
}

p {
    margin: 0;
}

.track_metadata {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4px;
    max-width: 100%;
    overflow: hidden;
}

.track_title, .artists, .album_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.track_title {
    font-size: 1em;
    padding: 0;
    margin: 0px 0;
    line-height: 120%;
    position: relative;
    top: 2px;
}

.track_title_refine {
    font-size: 0.85em;
    font-weight: 100;
    margin-left: 3px;
}

.track_metadata .artist_name {
    font-size: 0.8em;
    line-height: 100%;
    position: relative;
}

.album_name {
    font-size: 0.8em;
    font-style: italic;
}


.additional_info {
    display: flex;
    margin-top: 2px;
    font-size: 0.7em;
    font-weight: 300;
}

.additional_info ion-icon {
    position: relative;
    top: 2px;
}

span.bullet {
    position: relative;
    top: 2px;
}