body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.6em;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    margin: 5px auto 15px auto;
}

.album_cover img {
    width: 65px;
    margin: auto 10px auto auto;
    cursor: pointer;
}

p {
    margin: 0;
}

.track_metadata {
    display: flex;
    flex-direction: column;
}

.track_title {
    font-size: 1.4em;
    padding: 0;
    margin: 2px 0 0 0;
    line-height: 80%;
}

.track_title_version {
    font-size: 0.7em;
}

.artist_name {
    font-size: 0.9em
}

.artist_name_role_feat {
    color: #777;
}

.album_name {
    font-size: 0.9em;
}

.listening_datetime {
    font-size: 0.7em;
    color: #777;
}

.empty_history_message {
    font-size: 1.2em;
    font-weight: bold;
}