{% extends 'base.html' %}

{% block section %}

  <h1>{{ profile.user.username }}</h1>
  
  <a href="{% url 'history:overview' %}">Historique d'écoute</a>

  <p>
    {% if profile.track_location %}
      We are tracking your location.
    {% endif %}
  </p>
  
  <ul>
    <h2>Linked accounts</h2>
    {% for account in deezer_accounts %}
      <li>{{ account.name }} (Deezer)</li>
    {% endfor %}
    <a href="{{ deezer_link_account_url }}">Link Deezer account</a>
  </ul>
  
  <p>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'password_change' %}">Change password</a>
  </p>
  
{% endblock %}
