{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}" />
{% endblock %}

{% block page %}
<div id="background">
  <div class="background_layer" id="bglayer1">
    <video src="{% static 'accounts/battery.mp4' %}" autoplay loop></video>
  </div>
  <div class="background_layer" id="bglayer2">
    <div class="colorblock" id="colorblock0"></div>
    <div class="colorblock" id="colorblock1"></div>
    <div class="colorblock" id="colorblock2"></div>
    <div class="colorblock" id="colorblock3"></div>
  </div>
  <div class="background_layer" id="bglayer3">
    <img src="https://cdns-images.dzcdn.net/images/cover/f521259784968d8d031110d287beed00/250x250-000000-80-0-0.jpg" data-infos="Madisen Ward and The Mama Bear  //  Dreams  //  Dreams"
      title="" id="cover_1" alt="album cover: Madisen Ward and The Mama Bear: Dreams" />
    <img src="https://e-cdns-images.dzcdn.net/images/cover/b8894bf272cc703027d6c2d6bc0205e2/250x250-000000-80-0-0.jpg" data-infos="Pomplamoose  //  Everybody Wants to Rule The World  //  Best of 2019"
      title="" id="cover_2" alt="album cover: Pomplamoose: Best of 2019" />
    <img src="https://cdns-images.dzcdn.net/images/cover/549d889629afc71d698f4274173d5496/250x250-000000-80-0-0.jpg" data-infos="The Airborne Toxic Event  //  Come On Out  //  Hollywood Park"
      title="" id="cover_3" alt="album cover: The Airborne Toxic Event: Hollywood Park" />
    <img src="https://e-cdn-images.deezer.com/images/cover/69b7dbf04ac2f1b429d2ec35a11b74ff/500x500-000000-80-0-0.jpg" data-infos="Pomplamoose  //  Instant Crush  //  Instant Crush"
      title="" id="cover_4" alt="album cover: Pomplamoose: Instant Crush" />
    <img src="https://e-cdn-images.deezer.com/images/cover/5bfd635c3bf252c6c0d3e3e4b8f53794/250x250-000000-80-0-0.jpg" data-infos="Phoenix  //  Lisztomania  //  Wolfgang Amadeus Phoenix"
      title="" id="cover_5" alt="album cover: Phoenix: Wolfgang Amadeus Phoenix" />
    <img src="https://cdn-images.deezer.com/images/cover/f47c0aa413d2f3fcf571f249f265ff1e/500x500-000000-80-0-0.jpg" data-infos="CAKE  //  Sinking Ship  //  Sinking Ship"
      title="" id="cover_6" alt="album cover: CAKE: Sinking Ship" />
    <img src="https://cdns-images.dzcdn.net/images/cover/ff84ff9cc326dcb829caca09b3da8561/250x250-000000-80-0-0.jpg" data-infos="The Osmonds  //  Down By The Lazy River  //  Very Best of The Osmonds"
      title="" id="cover_7" alt="album cover: The Osmonds: Very Best of The OSmonds" />
    <img src="https://e-cdns-images.dzcdn.net/images/cover/9be1aa05ac33f70a83dfc7cc530fa327/250x250-000000-80-0-0.jpg" data-infos="The Killers  //  Somebody Told Me  //  Hot Fuss"
      title="" id="cover_8" alt="album cover: The Killers: Hot Fuss" />
    <img src="https://cdns-images.dzcdn.net/images/cover/b298094528702627877720d0be4448b5/250x250-000000-80-0-0.jpg" data-infos="Daft Punk  //  Give Life Back To Music  //  Random Access Memories"
      title="" id="cover_9" alt="album cover: Daft Punk: Random Access Memories" />
    <img src="https://cdns-images.dzcdn.net/images/cover/a38ef87aa2917be1fe62866357f8ade1/250x250-000000-80-0-0.jpg" data-infos="The Weeknd  //  Blinding Lights  //  Blinding Lights"
      title="" id="cover_10" alt="album cover: The Weeknd: Blinding Lights" />
    <img src="https://e-cdns-images.dzcdn.net/images/cover/4a2360324af313f73b56fd1f7faaac88/250x250-000000-80-0-0.jpg" data-infos="Angèle  //  Flou  //  BROL"
      title="" id="cover_11" alt="album cover: Angèle: BROL" />


    <audio id="audio_cover_1" src="https://cdns-preview-3.dzcdn.net/stream/c-3756e63893017f05bb580876c049b3ac-4.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_2" src="https://cdns-preview-5.dzcdn.net/stream/c-5c375750bba3cfb333bdce218151f8b1-3.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_3" src="https://cdns-preview-7.dzcdn.net/stream/c-79a4f779d296204d674a37c8eb002978-5.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_4" src="https://cdns-preview-5.dzcdn.net/stream/c-507b0b7ddfdb6d1a7df4d5fc8ec6c1b1-4.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_5" src="https://cdn-preview-9.deezer.com/stream/c-9aa7c2d5711a7b042a24efbd96606d53-4.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_6" src="https://cdns-preview-1.dzcdn.net/stream/c-18be437e098067da7284684b2a32f6e3-3.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_7" src="https://cdns-preview-b.dzcdn.net/stream/c-b5069a3ba4bea504d9e9f8b59dfb8b2d-9.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_8" src="https://cdns-preview-4.dzcdn.net/stream/c-4dc96d99edd87a3bfe2bbd8c4c8c67a9-6.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_9" src="https://cdn-preview-f.deezer.com/stream/c-f91f04f9a14b6589f4493458cc951f2a-9.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_10" src="https://cdns-preview-9.dzcdn.net/stream/c-92e1e84e8071d6ab417a236dc95ab0a9-4.mp3"
      preload="auto">
    </audio>
    <audio id="audio_cover_11" src="https://cdns-preview-a.dzcdn.net/stream/c-a3b3b7ed0b11d698ceab1c83446f9759-4.mp3"
      preload="auto">
    </audio>
  </div>
  <div class="background_layer" id="bglayer4">
    <img src="{% static 'accounts/people_playing_music.png' %}" alt="People playing music" />
    <img src="{% static 'accounts/human_playing_music.png' %}" alt="Man playing music" />
  </div>
</div>

<div id="foreground">
  <h1>Muzhist<ion-icon name="time-outline"></ion-icon>ry</h1>

  <div id="login_and_links">
    <div id="bg_login_and_links"></div>
    <div id="inner_login_and_links">
      <form method="post">
        {% csrf_token %}

        <p>Login</p>

        <div id="form_inner">
          {{ form.non_field_error }}

          {{ form.username.errors }}
          <label for="{{ form.username.id_for_label }}">Username</label>
          {{ form.username }}

          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}">Password</label>
          {{ form.password }}

          <button type="submit">Login</button>
        </div>
      </form>
      <div class="showcase_links">
        <p>Or test the demo</p>
        <a href="{% url 'app' '' %}?showcase=1">
          <img src="{% static 'accounts/music-player.svg' %}" alt="Test the demo" />
        </a>
        <br />
        <a class="showcase_link" href="{% url 'app' '' %}?showcase=1">
          Test the demo
        </a>
      </div>
    </div>
  </div>

  <p class="footer_text">Matthias Roussel, 2020</p>

</div>

<p id="playing_track_infos">Title</p>

<script>
  var canPlayExtracts = false;

  function anyClick(e) {
    canPlayExtracts = true;
    document.removeEventListener("click");
  }

  function playaudio(e) {
    var id = "audio_" + e.target.id;
    var audio = document.getElementById(id);
    
    var infos_p = document.querySelector("#playing_track_infos");
    if (canPlayExtracts) {
      fadeIn(audio, 500, 0.2);
      infos_p.innerHTML = e.target.dataset.infos;
    } else {
      infos_p.innerHTML = "Click on the page to play the extracts"
    }
    infos_p.style.opacity = 1;
  }

  function pauseaudio(e) {
    var id = "audio_" + e.target.id;
    var audio = document.getElementById(id);
    fadeOut(audio, 500);

    var infos_p = document.querySelector("#playing_track_infos");
    infos_p.style.opacity = 0;
  }

  function registerEvents() {
    var covers = document.querySelectorAll("#bglayer3 img");
    for (var i = 0; i < covers.length; i++) {
      covers[i].addEventListener("mouseover", function (e) { playaudio(e); });
      covers[i].addEventListener("mouseout", function (e) { pauseaudio(e); });
    }
    document.addEventListener("click", function(e) {anyClick(e);});
  }

  registerEvents();
</script>
<script src="{% static 'accounts/fade.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}