


ion-router-outlet {
    overflow-y: scroll;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    height: 135px;
    background: #b3c6d8;
    border-bottom: 1px solid #95afc8;
    padding: 20px 20px 20px 120px;
    margin-bottom: 50px;
}

header h1, header p, header ion-icon, header a {
    color: #2E294E;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.lower_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.profile_infos {
    position: relative;
    top: -20px;
}

.stats_link {
    position: relative;
    top: -30px;
    font-size: 1em;
}

.history_metadata {
    text-align: end;
    position: relative;
    top: -12px;
}

.inner_header > p {
    font-size: 0.8em;
}

.current_crush .track_metadata {
    position: relative;
    top: 4px;
}

.current_crush .track_title {
    font-size: 1.5em;
}

.current_crush .artist_name {
    font-size: 1.2em;
}

.current_crush .additional_info {
    font-size: 0.8em;
    color: #777;
}

.current_crush img {
    width: 120px;
}


.listening_history {
    margin: 60px 100px 200px 300px;
}
