


ion-router-outlet {
    overflow-y: scroll;
}

/* Header */

header {
    height: 135px;
    background: #f4abaa;
    border-bottom: 1px solid #db8785;
    padding: 20px 20px 20px 120px;
    margin-bottom: 50px;
}

header h1, header p, header ion-icon {
    color: #2a3166;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.lower_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.profile_infos {
    position: relative;
    top: -20px;
}

.history_metadata {
    text-align: end;
    position: relative;
    top: 6px;
}

.inner_header > p {
    font-size: 0.8em;
}

.current_crush .track_title {
    font-size: 1.5em;
}

.current_crush .artist_name {
    font-size: 1.05em;
}

.current_crush .additional_info {
    font-size: 0.8em;
    color: #1d585a;
}

.current_crush img {
    width: 120px;
}


.listening_history {
    margin: 0px 100px 200px 400px;
}

.listening_history * {
    color: #2a3166;
}