ion-router-outlet {
    overflow-y: scroll;
}

/* Header */

header {
    height: 200px;
    background: #c2dfe1;
    padding: 20px 120px;
    margin-bottom: 50px;
}

header h1, header p, header ion-icon {
    color: #1d585a;
}

.profile_infos {
    position: relative;
    top: -20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.inner_header > p {
    font-size: 0.8em;
}

.current_crush .track_title {
    font-size: 1.5em;
}

.current_crush .artist_name {
    font-size: 1.05em;
}

.current_crush .additional_info {
    font-size: 0.85em;
    color: #1d585a;
}

.current_crush img {
    width: 120px;
}


.listening_history {
    margin: 0px 100px 200px 400px;
}