@font-face {
    font-family: 'Cocogoose';
    src: url('/static/fonts/Cocogoose-Classic-Medium-trial.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Neonblitz";;
    src: url('/static/fonts/Neonblitz.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    scrollbar-width: none;
    font-family: Cocogoose;
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

body, #page, #background, #foreground, #bg_login_and_links, #inner_login_and_links, .background_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#page {
    background: #cae7df;
    height: 1300px;
    width: 100vw;
    overflow: hidden;
}

#bglayer2 {
    display: flex;
    flex-direction: column;
}

@keyframes colorblock_move {
    0% { top: -700px; }
    50% { top: -780px; }
    100% { top: -700px; }
}

.colorblock {
    width: 200vw;
    rotate: -10deg;
    position: relative;
    top: -170px;
    left: -380px;
    flex-shrink: 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#colorblock0 {
    height: 65px;
    background: rgba(56, 49, 97, 0.90);
    z-index: 10;
}

#colorblock1 {
    height: 500px;
    background: rgba(42, 49, 102, 0.6);
}

#colorblock2 {
    height: 800px;
    background: #cae7df;
    z-index: 10;
}

#colorblock3 {
    height: 500px;
    background: #f4abaa;
    z-index: 10;
}

/* Album covers */

@keyframes albumcovers {
    0% {top: 0}
    45% {top: -600px}
    50% {top: -600px}
    95% {top: 0}
    100% {top: 0}
}

#bglayer3 {
    animation: albumcovers 60s cubic-bezier(0.15, 0.03, 0.85, 0.97);
    animation-delay: 0.0s;
    animation-iteration-count: infinite;
}

#bglayer3 img {
    position: absolute;
    width: 100px;
    border-radius: 3px;
}

#bglayer3 img:nth-child(1) {  /* Dreams */
    top: 70px;
    left: 20px;
    width: 110px;
}

#bglayer3 img:nth-child(2) { /* Best of 2019 */
    top: 50px;
    right: 30px;
}

#bglayer3 img:nth-child(3) {  /* Hollywood Park */
    top: 200px;
    left: 220px;
    width: 90px;
}

#bglayer3 img:nth-child(4) {  /* Instant Crush */
    top: 880px;
    left: 80px;
    width: 250px;
}

#bglayer3 img:nth-child(5) {  /* Random Access Memories */
    top: 630px;
    left: 250px;
    width: 60px;
}

#bglayer3 img:nth-child(6) {  /* Sinking Ship */
    top: 360px;
    left: 30px;
    width: 200px;
}

#bglayer3 img:nth-child(7) {  /* The Very Best Of The Osmonds */
    top: 550px;
    right: 50px;
    width: 170px;
}

#bglayer3 img:nth-child(8) {  /* Hot Fuss */
    top: 720px;
    left: 50px;
}

#bglayer3 img:nth-child(9) {  /* The Division Bell */
    top: 780px;
    right: 240px;
    width: 60px;
}

#bglayer3 img:nth-child(10) {  /* Blinding Lights */
    top: 845px;
    right: 80px;
}

#bglayer3 img:nth-child(11) {  /* Brol */
    top: 220px;
    right: 100px;
    width: 220px;
}

#bglayer4 {
    pointer-events: none;
}

#bglayer4 img:nth-child(1) {
    position: absolute;
    top: 600px;
    left: 000px;
    width: 800px;
    z-index: 10;
}

#bglayer4 img:nth-child(2) {
    position: absolute;
    top: 520px;
    right: 0;
    width: 300px;
    z-index: 10;
}



#foreground {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}

h1 {
    font-family: Neonblitz;
    color: #e93b5e;
    font-size: 5.5em;
    margin-top: 30px;
}

h1 ion-icon {
    position: relative;
    top: 30px;
    left: 3px;
    font-size: 1.5em;
}

#login_and_links {
    position: relative;
    width: 500px;
    height: 350px;
    top: 10px;
    border-radius: 13px;
    box-shadow: 5px 5px 8px rgba(68, 68, 68, 0.5);
    background: #fff;
    pointer-events: all;
}


#inner_login_and_links {
    display: flex;
    border-radius: 14px;
    padding: 30px;
    background: transparent;
}

form {
    width: 40%;
    border-right: 3px solid #2a3166;
    padding-right: 30px;
}

#form_inner {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -40px;
}

#form_inner label {
    margin-top: 15px;
}

#form_inner input {
    height: 30px;
    padding: 5px;
    border: 1px solid #2a3166;
    border-radius: 15px;
}

#form_inner button, .showcase_links a {
    color: #fff;
    border: none;
    padding: 10px 10px 8px 10px;
    width: 100px;    
    margin: 30px 0 30px 90px;
    font-size: 1.2em;
}

#form_inner button {
    background-color: #ec393c;
}

#inner_login_and_links p {
    font-size: 2em;
    font-family: Cocogoose;
    color: #04126d;
    position: relative;
    top: -10px;
}

.showcase_links {
    padding: 0px 30px;
}

.showcase_links p {
    width: 150px;
}

.showcase_links img {
    position: relative;
    top: -40px;
    left: -55px;
    width: 100px;
    transition: all 100ms ease;
}

.showcase_links img:hover {
    width: 110px;
    left: -60px;
    top: -45px;
}

a.showcase_link {
    color: white;
    background-color: #f58032;
    position: absolute;
    margin: auto;
    bottom: 60px;
    right: 68px;
    width: 113px;
    text-decoration: none;
}

p.footer_text {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -5px;
    right: 15px;
    color: #15182e;
    font-size: 0.8em;
}

