<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Welcome{% endblock %} - MuzHistory</title>
    {% block static %}{% endblock %}
    <meta charset="utf-8"></meta>
  </head>
  
  <body>
    <div class="message_wrapper">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
    
    <div id="page">
      {% block page %}
      
      {% endblock %}
    </div>
  </body>

  {% block scripts %}{% endblock %}
</html>
