.pagination_links {
    display: flex;
    justify-content: space-around;
}

.pagination_links p {
    margin: 15px;
}

.pagination_links .page_number {
    display: inline-block;
    background:  #c2dfe1;
    border: 1px solid #9dc8ca;
    border-radius: 2px;
    padding: 3px;
    color: #2c7275;
    margin: auto 1px;
    width: 20px;
    text-align: center;
}

.pagination_links span.page_number {
    border-color: #eec97c;
    background: #ffe6b2;
    color: #b08938;
}

.pagination_links .page_number:visited {
    color: #2c7275;
}

.pagination_links span.page_number_ellipsis {
    border: none;
    color: #2c7275;
    background: none;
    position: relative;
    top: -5px;
}
