.player {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
    padding: 12px 50px 10px 30px;
    background: #ffe6b2;
    position: fixed;
    bottom: -200px;
    max-height: 200px;
    left: 0;
    right: 0;
    transition: bottom 0.15s;
}

.player .track {
    margin: 0;
    width: 50%;
}

.player img.play_extract {
    cursor: default;
    width: 110px;
}

.player .track_metadata {
    position: relative;
    top: 5px;
    max-width: 100%;
}

.player .track_title, .player .artists, .player .album_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player_time_infos {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    margin-bottom: 20px;
}

.player_time_infos div {
    display: flex;
    width: 100%; /* Do not add margins or paddings on the x axis,
                    use the parent element. */
    justify-content: space-between;
}

.player .progress_container {
    height: 3px;
    width: 100%; /* Do not add margins or paddings on the x axis,
                    use the parent element. */
    margin: auto 0 12px 0;
    border: none;
}

.player progress::-webkit-progress-bar, .player progress::-moz-progress-bar {
    background: #f75652;
}